@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* 

GENERICS 

*/
html {
    scroll-behavior: smooth;
    transition: all 2s ease;
}

.container {
    background-image: url(./assets/1.jpg);
    background-position: center;
    backdrop-filter: 8px;
    background-size: cover;
    width: 100%;
    height: 1000px;

}

.containerr {
    background-image: url(./assets/2.jpg);
    background-position: center;
    backdrop-filter: 8px;
    background-size: cover;
    width: 100%;
    height: 1000px;

}

.containerrr {
    background-image: url(./assets/3.2.jpg);
    background-position: center;
    backdrop-filter: 8px;
    background-size: cover;
    width: 100%;
    height: 1000px;

}

.row {
    width: 100%;
    height: 100%;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

.end {
    background-color: #1c1d25 !important;
    height: 60px;
}

/* 

LANDING PAGE

*/

.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 140px;
    padding-left: 140px;
}

.landingPage__title {
    font-size: 70px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 5px #c2caca,
        0 0 25px #dee4e5,
        0 0 50px #f40303,
        0 0 100px #f40333;

}

.landingPage__title--para {
    max-width: 700px;
    padding-top: 30px;
    color: #9b9a9a;
    line-height: 1.5;
}

.landingPage__nav {
    display: flex;
    font-size: 25px;
    margin-top: 80px;

}

a {
    color: #9b9a9a;
    padding-left: 50px;
}

a:hover {
    transition: all 300ms ease;
    color: #fff;
    text-shadow: 0 0 5px #c2caca,
        0 0 25px #dee4e5,
        0 0 50px #f40303,
        0 0 100px #f40333;
}


/* 

ABOUT ME

*/


.about__me {
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: baser;
    align-items: center;

}

.project__list {
    margin-bottom: 80px;
}

.project {
    width: 684px;
    height: 380px;
}


.project__img {
    width: 100%;
    height: 380px;
    padding: 20px;
    transform: all 500ms ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgb(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550PX;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 40px;
    padding-bottom: 10px;
}

.project__description--para {
    margin: 16PX 0;
}

.project__description--sub-title {
    padding: 18px 0 0 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    text-align: left;
    color: #fff;

}

.project__description--title,
.project__description--sub-title,
.project__description--para {
    padding: 0 24px 0 0;
}


/* 

RESOURCE

*/

.resources {
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.resource__page {
    padding: 80px 0;
}

.raw {
    width: 100%;
    margin: 0 auto;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.features__intro {
    margin-bottom: 20px;
    display: none;
}

.features__title--bold {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #f3efef;
    margin-bottom: 100px;
    text-transform: uppercase;
}



.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 140px;
    padding-right: 200px;

}



.service__iconn {
    color: #f3efef00;
    width: 100px;
    box-shadow: 0 20px 13px rgba(60, 48, 48, 0.45);


}

.services__6 {
    width: 100%;
    max-width: 123px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 32px 8px;

}



.rr {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.r__left {
    width: 50%;
    margin-top: 480px;
    margin-right: 120px;
}

.r__left--title {
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 5px #c2caca,
        0 0 25px #dee4e5,
        0 0 50px #f40303,
        0 0 100px #000000;


}

.r__right {
    width: 30%;
}

.r__right--reso {
    width: 100%;

}

/* Footer links */


.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #d2c0c0;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-size: 20px;
    left: 0;
    color: rgb(145, 85, 85);
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    color: #1c1d25;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {

    height: 35px;
    border-radius: 2px;
    font-size: 20px;
    color: #9b8d8d;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;

}


.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
    padding-right: 250px;
}